%html
  %head
    %meta{charset: 'utf-8'}/
    %title
      Captain Wright
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = yield
